/*Parámetros generales*/

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Fredoka+One&display=swap');

body {
    margin:0;
    height: 100%;
}

/* Selector de clases que comiencen con 'icon', configuración de íconos en toda la app*/
[class ^= "icon"]{
    display: inline-flex;
    float: right;
    margin-right: 2%;
    margin-bottom: 0%;
    width: 40px;
    cursor: pointer;
}

/*Selector de clases que comiencen con 'btn', configuración de botones en toda la app*/
[id ^= "btn"] {
    padding: 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px;
    border: transparent; 
    font-size: 15px;
    color: #ffffff;
    background-color: var(--morado);
}

/* Configuración inputs*/
[class ^= "input"]{
    width: 250px;
    height: 30px;
    margin: 10px;
    padding: 6px; 
    box-sizing: border-box;
    border-radius: 15px; 
    font-size: 15px;
    border:none;
}

/* Variables de definción de colores*/
:root {
    --amarillo: #FCDB4B; 
    --morado: #9f4bf2; 
    --verde: #31e296d8;
}

/* Todo el archivo con tipografía, tamaño y borde igual*/
* {
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif; 
}

/* Configuración de tamaño para todas las secciones*/
section {
    width: 100vw;
    height: 100vh;
    padding: 15px;
}

/*Parámetros título Walkter en las secciones que se use como h1*/
h1 {font-family: 'Fredoka One', cursive}

.footer{
    background: var(--verde);
    height: 35px;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}
