/*Sección de inicio de sesión*/

#register-signup{display: none}
#link-login{display: none}
/* Imagen en landing page*/
.img-login {
    width: 600px;
    margin-bottom: 0;
}

/*Configuración del tamaño para slogan*/
.slogan{
    font-size: 40px;
    letter-spacing: 3px;
}

/*Parametros del link en caso de olvidar contraseña*/
.link {
    margin-top: 0px;
    font-size: 15px;
    cursor: pointer;
    color: rgb(0, 162, 255);
}

/*Línea divisoria Sign In y Sign Up*/
.line-login {
    overflow: hidden;
    text-align: center;
    color:  rgb(255, 255, 255);
}
  
.line-login:before,
.line-login:after {
    background-color: rgb(255, 255, 255);
    content: "";
    display: inline-block;
    height: 1.2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.line-login:before {
    right: 5px;
    margin-left: -30%;
}

.line-login:after {
    left: 5px;
    margin-right: -30%;
}

/*Configuracion de clases containers sign in*/
.container-signin {
    padding: 5px;
    width: auto;
    height: fit-content;
    background: var(--amarillo);
    border-radius: 30px;
    text-align: center;
    margin: 10px;
}

/*Configuracion de clases containers sign up*/
.container-signup{
    padding: 5px;
    width: auto;
    height: fit-content;
    background: var(--verde);
    border-radius: 30px;
    text-align: center;
    margin: 10px;
}

/* Mensajes de errores */
[id ^= "errorMsg"]{
    color: #862929; 
    font-size: 13px;
}
