
/* Sección del perfil */
@media screen 
  and (max-width: 460px)
  and (min-width: 360px){

    .search {
        display: inline-flex;
        background-color: transparent;
        height: 40px;
    }

    .bar-search {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-color: #9f4bf2;
    }
    .img-search {
        background-color: #9f4bf2; 
        border-color: #9f4bf2; 
        border: transparent;
        border-end-end-radius: 12px;
        border-start-end-radius: 12px;
    }

    #container-data {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100%, auto);
        background: #FCDB4B;
        margin-top: 5%;
        border-radius: 12px;
    }

    .user-image {
        grid-column: 1 / 2;
        grid-row: 1;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 15%;
        margin-left: 8%;
    }

    #user-name {
        grid-column: 1 / 2;
        grid-row: 1;
        font-size: 16px;
        padding-top: 112%;
        padding-left: 10%;
        margin: 0%;
    }

    .calification {
        grid-column: 1 / 2;
        grid-row: 1;
        padding-left: 10%;
        padding-top: 130%;
        margin-top: 0%;
        color: white;
    }

    #user-description {
        grid-column: 2 / 3;
        grid-row: 1;
        padding-left: 20px;
        padding-top: 25%;
        margin: 0%;
        font-size: 15px;
    }

    .description {
        grid-column: 2 / 4;
        grid-row: 1;
        padding-left: 20px;
        padding-top: 20%;
        font-size: 14px;
    }

    #user-transport {
        grid-column: 2 / 4;
        grid-row: 1;
        padding-left: 20px;
        margin: 0%;
        font-size: 15px;
        padding-top: 45%;
    }

    .transport {
        grid-column: 2 / 4;
        grid-row: 1;
        padding-left: 20px;
        padding-top: 50%;
        font-size: 14px;
        margin-bottom: 5%;
    }

    .title-reports {
        display: block;
        margin-top: 3%;
        font-size: 20px;
        margin-bottom: 0%;
    }
}
/* Sección del perfil tablet */

@media screen 
  and (max-width: 800px)
  and (min-width: 460px){

    .search {
        display: inline-flex;
        background-color: transparent;
        height: 40px;
    }

    .bar-search {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-color: #9f4bf2;
    }
    .img-search {
        background-color: #9f4bf2; 
        border-color: #9f4bf2; 
        border: transparent;
        border-end-end-radius: 12px;
        border-start-end-radius: 12px;
    }

    #container-data {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100%, auto);
        background: #FCDB4B;
        margin-top: 2%;
        border-radius: 12px;
    }

    .user-image {
        grid-column: 1 / 2;
        grid-row: 1;
        width: 105px;
        height: 105px;
        border-radius: 50%;
        margin-top: 10%;
        margin-left: 20%;
    }

    #user-name {
        grid-column: 1 / 2;
        grid-row: 1;
        font-size: 16px;
        padding-top: 85%;
        padding-left: 27%;
        margin: 0%;
    }

    .calification {
        grid-column: 1 / 2;
        grid-row: 1;
        padding-left: 27%;
        padding-top: 98%;
        margin-top: 0%;
        color: white;
    }

    #user-description {
        grid-column: 2 / 4;
        grid-row: 1;
        padding-left: 15px;
        padding-top: 10%;
        font-size: 15px;
    }

    .description {
        grid-column: 2 / 4;
        grid-row: 1;
        padding-left: 15px;
        padding-top: 14%;
        font-size: 14px;
    }

    #user-transport {
        grid-column: 2 / 4;
        grid-row: 1;
        padding-left: 15px;
        font-size: 15px;
        padding-top: 34%;
    }

    .transport {
        grid-column: 2 / 4;
        grid-row: 1;
        padding-left: 15px;
        padding-top: 38%;
        font-size: 14px;
    }

    .title-reports {
        display: block;
        margin-top: 3%;
        margin-left: 2%;
        font-size: 20px;
        margin-bottom: 0%;
    }

}    

@media screen 
  and (max-width: 2000px)
  and (min-width: 800px){

    .search {
        display: inline-flex;
        background-color: transparent;
        height: 40px;
    }

    .bar-search {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-color: #9f4bf2;
    }
    .img-search {
        background-color: #9f4bf2; 
        border-color: #9f4bf2; 
        border: transparent;
        border-end-end-radius: 12px;
        border-start-end-radius: 12px;
    }

    .info-profile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    #container-data {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        width: 90%;
        height: 120%;
        background: #FCDB4B;
        border-radius: 12px;
        margin-top: 3%;
        padding-bottom: 2%;
    }
    
    .user-image {
        grid-column: 2 / 3;
        grid-row: 1;
        width: 150px;
        height: 150px;
        margin: 10%;
        border-radius: 50%;
    }
    
    #user-name {
        grid-column: 2 / 3;
        grid-row: 1;
        align-items: center;
        padding-top: 100%;
        
    }
    
    .calification {
        grid-column: 2 / 3;
        grid-row: 1;
        align-items: center;
        padding: 0%;
        padding-top: 117%;
        padding-left: 9%;
        margin: 0%;
        color: white;
    }    
    
    #user-description {
        grid-column: 1 / 3;
        grid-row: 2;
        margin: 0%;
        padding-top: 0%;
    }
    
    .description {
        grid-column: 1 / 3;
        grid-row: 2;
        margin: 0%;
        padding-top: 10%;
    }
    
    #user-transport {
        grid-column: 1 / 3;
        grid-row: 2;
        margin: 0%;
        padding-top: 30%;
    }
    
    .transport {
        grid-column: 1 / 3;
        grid-row: 2;
        margin: 0%;
        padding-top: 40%;
    }

  }