/*Sección del muro*/

/*Parámetros del primer input en una división (tener en cuenta si no hay más así)*/
#muro header input{
    border-radius: 20px;
    font-size: 20px;
}

/*Posición de los imagenes (iconos) en la sección header de muro*/
footer img{padding: 0.5px}

.icon-profile,#icon-settings{
    float: right
}
/* 
#map{
  margin-top:10px;
  width: calc(100vw - 30px);
  height: calc(100vh - 80px); /*Solo sirve en mobile, hacer responsive
}

#modal{
  width:100%;
  height:100%;
  position: fixed; 
}*/

.report {
    max-width:500px;
    width: 80%;
    padding: 20px;
    border-radius: 20px; 
  vertical-align: middle;
}
.flex{
  display: flex;
}

.mid {
  width:50%;
}

.mid div {
  flex-grow:1;
}

.reactions{ 
  display:flex;
  justify-content: space-around;
}

#post-container {
  padding: 20px 0;
  position: relative;
}

#map {
  width: calc(100vw - 30px);
  height: calc(100vh - 80px);
  margin: auto;
  margin-top: 20px;
  position: relative;
  z-index: 50;
}

.report {
  height: 300px;
  width: 60%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  border-radius: 20px;
  border: solid 1.5px;
}

.bubble {
  border-radius: 50%;
  border: solid 1px #000;
}